*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}


body{
    background-color: rgb(150, 214, 216);
}


header{
    display: flex;
}

table {
    position: absolute;
    font-size: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
}

th {
    background-color:blueviolet;
    Color: white;
}

th,
td {
    width: 130px;
    height: 60px;
    text-align: center;
    padding: 10px
}

.center {
    margin-left: auto;
    margin-right: auto;
}


.tr2{
    background-color: white;
}

.tr3{
    background-color: rgb(119, 244, 169);
}

.tr4{
    background-color: white;
}

.tr5{
    background-color: rgb(119, 244, 169);
}

caption {
    margin-bottom: 9px;
    font-size: 145%;
    padding: 5px;
}

.button1 button {
    width: 85%;
    height: 40px;
    background-color: blue;
}

.button1 a {
    color: white;
}